*{
    text-decoration: none;
    list-style: none;
    

}
.size{
    padding-top: 20px;

}
.logo{
    width: 170px;
}
.navigation, li, a{

    padding: 5px 15px;

}

.navigation:hover{

background-color:rgb(245,161,87);
border-radius: 20px;
padding: 10px;
color: whitesmoke;
text-align: center;
text-decoration: none;



}
.paragraph{

    font-size: 20px;
}
.body{
    background-image: url("https://images.pexels.com/photos/1049626/pexels-photo-1049626.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    border-radius: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 600px;
    color: whitesmoke;
}
.foot{
    padding: 2%;
    border-radius: 10px;
    background-color: rgb(9,8,6);
    height: 200px;
}.footer{
    padding: 2%;
    /* background-color: rgb(9,8,6); */
}
.image{
    width: 300px;
    border-radius: 20px;
}

.icon{
    padding: 2%;
}
.foot h3{
    color: whitesmoke;
    font-size: 20px;

}



/* aboutus.css */

.bod{
    height: auto;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    color: whitesmoke;
}
.about{
    border-radius: 20px;
}

/* What we do on about us */

.item{
    width: auto;
    cursor: pointer;

}
#design-p {
    color: rgb(245,161,87);
    font-size: 14px;
    display: none;
}
.colour{
    color: rgb(245,161,87);
    font-size: 18px;


}