*{
    text-decoration: none;

}
.size{
    padding-top: 20px;

}
.logo{
    width: 150px;
}
.navigation{

    padding: 10px 30px;

}

.navigation:hover{

background-color: red;
border-radius: 20px;
padding: 20px;
color: whitesmoke;
text-align: center;

}
.body{
    background-image: url("https://images.pexels.com/photos/1049626/pexels-photo-1049626.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    border-radius: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 600px;
    color: whitesmoke;
}
.foot{
    padding: 2%;
    border-radius: 10px;
    background-color: rgb(9,8,6);
}.footer{
    padding: 2%;
    /* background-color: rgb(9,8,6); */
}
.image{
    width: 300px;
    border-radius: 20px;
}

.icon{
    padding: 2%;
}
.foot h3{
    color: whitesmoke;

}



/* aboutus.css */

.bod{
    height: auto;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    color: whitesmoke;
}
.about{
    border-radius: 20px;
}

/* What we do on about us */
.item{
    width: auto;
}